Thanks!!

<div>
	<h1>Sharing is Caring</h1>
	<p>
		Spread the Word and get cool shit:
	</p>
	<p>
		<span>Share this Link:</span><br />
		http://glowing-robot-1676.herokuapp.com/?p=<%= @signup.invitation_token %>
	</p>
	<p>
		<span>Twitter:</span><br />
		<a href="http://twitter.com/home/?status=I%20just%20signed%20up%20for%20%40AgileZen%2C%20you%20should%20too%3A%20glowing%96robot%961676.herokuapp.com%3a5000%2F%3F%3D<%= @signup.invitation_token %>" target="_blank">Twitter!</a>
	</p>
</div>