Thanks!!!!!

<div>
	<h1>Sharing is Caring</h1>
	<p>
		Spread the Word and get cool shit:
	</p>
	<p>
		<span>Share this Link:</span><br />
		<%= @your_domain %>/?p=<%= @signup.invitation_token %>
	</p>
	<p>
		<span>Twitter:</span><br />
		<a href="http://twitter.com/home/?status=I%20just%20signed%20up%20for%20%40AgileZen%2C%20you%20should%20too!%20http%3a%2f%2fglowing%2Drobot%2Eherokuapp%2Ecom%2fp%3f%3d<%= @signup.invitation_token %>" target="_blank">Twitter!</a>
	</p>
</div>