<!DOCTYPE html>
<html>
<head>
  <title>Agilezen</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div class="pane">
			<%= yield %>
		</div>
	</div>

<script type='text/javascript'>
$(function(){
    $('#container') .css({'height': (($(window).height()))+'px'});
    $(window).resize(function(){
        $('#container') .css({'height': (($(window).height()))+'px'});
    });
});
</script>

</body>
</html>